 :root{ 
    --cor_titulo: rgb(198, 231, 12);
    --cor_fundo: rgb(2, 2, 2);
}
body{
    background-color: var(--cor_fundo);
} 

body:hover{
    color:black(230, 230, 230);
}
section{
    text-align:center;
    height: 900px;
    margin: 40px;
    border:solid  rgb(153, 255, 0)
}

.h1{
    color: var(--cor_titulo);
    text-align: center;
}
button{
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    color: var(--cor_button)
 {   

    
 }